<p>welcome works!</p>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Please click on Hr to view hr data</h5>
          <p class="card-text">Shows all hr's present in the organisation</p>
          <a routerLink="/hr" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Please click on Department to view hr data</h5>
          <p class="card-text">Shows all developers present in the organisation.</p>
          <a routerLink="/developers" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>